@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
    --text: oklch(14.88% 0.025 225.6);
  --background: oklch(97.39% 0.015 222.68);
  --primary: oklch(74.75% 0.139 226.06);
  --secondary: oklch(74.88% 0.186 338.41);
  --accent: oklch(66.11% 0.198 24.35);
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
--text: oklch(97.19% 0.015 228.96);
  --background: oklch(15.23% 0.025 220.26);
  --primary: oklch(71.85% 0.137 227.03);
  --secondary: oklch(41.86% 0.173 343.45);
  --accent: oklch(47.34% 0.189 28.61);
}
/* Theme-aware button styles */
[data-theme="light"] {
  .my-btn {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  .my-btn:hover {
    background-color: oklch(70% 0.13 226); /* slightly darker */
    border-color: oklch(70% 0.13 226);
  }
}

[data-theme="dark"] {
  .my-btn {
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  .my-btn:hover {
    background-color: oklch(65% 0.13 227); /* slightly darker */
    border-color: oklch(65% 0.13 227);
  }
}

/* :root[data-theme="light"] {
  --text: oklch(14.88% 0.025 225.6);
  --background: oklch(97.39% 0.015 222.68);
  --primary: oklch(74.75% 0.139 226.06);
  --secondary: oklch(74.88% 0.186 338.41);
  --accent: oklch(66.11% 0.198 24.35);
}
:root[data-theme="dark"] {
  --text: oklch(97.19% 0.015 228.96);
  --background: oklch(15.23% 0.025 220.26);
  --primary: oklch(71.85% 0.137 227.03);
  --secondary: oklch(41.86% 0.173 343.45);
  --accent: oklch(47.34% 0.189 28.61);
} */
